body
{
	font-family: arial;	
}

.title:hover 
{
	text-decoration: underline;
}
.navbar
{
	display: flex;
	flex-direction: row;
	background-color: #0A924D;
}
@keyframes change-hover-color
{
	from 
	{
		background-color: #0A924D;
	}
	to 
	{
		background-color: #0FC368;
	}
}
.element 
{
	
	padding: 15px;
}
.element:hover
{
	background-color: #0FC368;
	animation-name: change-hover-color;
	animation-duration: 0.5s;
}
.element a
{
	
	color: white;
	text-decoration: none;
}

h2 
{
	margin-left: 10px;
}